head{
	color: blue;
	font-family: Futura;
}

body{
	width: 760px; /* how wide to make your web page */
	background-color: teal; /* what color to make the background */
	margin: 0 auto;
	padding: 0;
	font:24px/24px Copperplate, Arial; /* default font */
	cursor: pointer;
	border: 2px dashed purple;
	text-align: center;
}